.btn-blue {
  background-color: #5aa2e9;
  color: white;
}

.btn-light {
  background-color: rgb(194, 194, 194);
}

.bg-blue {
  background-image: linear-gradient(to right, #3b6ec4, #230455);
}

.bg-dark-blue {
  background-color: #33475a;
}
